body{
font-family:Arial;
margin:0;
background:#eaf1ff;
}

h1,h2,h3{
color:#1e3c72;
}

.login-box{
width:300px;
margin:100px auto;
padding:20px;
background:white;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
text-align:center;
border-radius:10px;
}

button{
background:#2a5298;
color:white;
border:none;
padding:8px 15px;
margin-top:5px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#1e3c72;
}

section{
background:white;
margin:20px;
padding:15px;
border-radius:10px;
box-shadow:0 2px 6px rgba(0,0,0,0.1);
}